@media(max-width:991px){

 
    h1{
        font-size: 4rem;
    }


  /* ======================
    custom classes  
    =========================*/
 
    .text_content{
        width: 100%;
    }



    /*=============
     top banner style  
     =====================*/

    #home .top_banner{
        padding: 7rem 0;
    }
   
    .navbar_wrap .nav-item .nav-link{
        line-height: 4rem;
    }

    /*============
    header style   
    =====================*/

    .navbar_wrap .navbar-brand img{
        width: 150px;
    }

    /* newslattar syle  */

    .form_wrapper{
        width: 80%;
        margin: auto;
      }



}

@media(max-width:767px){
 
h1{
    font-size: 3rem;
}

h2{
    font-size: 2.4rem;
    line-height: 3rem;
}
   /*============
    header style   
    =====================*/

    .navbar_wrap .navbar-brand img{
        width: 120px;
        object-fit: cover;
    }

    .top_banner .section_heading h1{
        margin-top: 4rem;
    }

    /*==============
     about syle  
     =================*/

     #about .about_wrapper{
        padding: 8rem 0 3rem 0;
     }
     .about_wrapper .food_type{
        padding: 4rem 0 3rem 0;
     }
    

     /*==============
      story style  
      ===============*/

      .story_wrapper{
        padding: 4rem 0;
      }

      /* explore style  */

      .explore_wrapper{
        padding: 8rem 0 3rem 0;
      }

      /*=============
       testimonial style  
       ================*/

       .testimonial_wrapper{
        padding: 8rem 0 4rem 0;
        background-color: var(--primary-color);
      }

       .testimonial_wrapper .carousel-item{
        padding: 2rem;
     
       }

       .testimonial_wrapper .carousel-item .carousel_caption p{
        width: 100%;
        margin: 2rem auto;
        
      }

      /*===============
       faq style  
       ===============*/
     
       #faq .faq_wrapper{
        padding: 8rem 0 3rem 0;
       }

    /* newslattar style  */

    .newsletter_wrapper{
        padding: 8rem 0;
        width: 100%;
        margin: auto;
      }
      .form_wrapper{
        width: 90%;
        margin: auto;
      }
    
}

@media(max-width: 575px){
    

    /*===============
     about style  
     ==================*/


     #about .about_wrappper{
        padding: 8rem 0 3rem 0;
     }


     /*=============
      explore style  
      ===================*/

      .explore_wrapper .card{
        padding: 1rem;
      }

    

}

